{% extends 'layout.html' %}

{% load static %}

{% block title %}
aTLAS
{% endblock %}

{#{% block nav_home %}class="active"{% endblock %}#}

{% block scripts %}
    <script>
        let scenarios;
        {% if scenarios %}
        scenarios = {{ scenarios_JSON|safe }};
        {% endif %}
        const INDEX_URL = "{{ index_url }}"
        const LAB_URL = "{{ lab_url }}"
        let scenario_load_error;
        {% if ScenarioLoadError %}
        scenario_load_error = "{{ ScenarioLoadError }}";
        {% endif %}
    </script>
    <script src="{% static 'trustlab/scripts/trustlab.js' %}"></script>
{% endblock %}

{% block body %}
    {% include "cards/start.html" %}
    {% include "cards/pick_results.html" %}
    {% include "cards/scenario.html" %}
    {% include "cards/runtime.html" %}
    {% include "cards/loading_results.html" %}
    {% include "cards/results.html" %}
    {% include "cards/about.html" %}
{% endblock %}