<dialog class="mdl-dialog" id="about-dialog">
    <p class="mdl-dialog__title">aTLAS: a Trust Laboratory for Multi-Agent Systems</p>
    <div class="mdl-dialog__content">
        <p>
            aTLAS project intends to examine trust for a redecentralization of the web.
            It enables a broad comparison of trust mechanics, scales and models from the literature within the current state of the art.
            Therefore, it runs and evaluates multi-agent system scenarios, which are defined beforehand.
            As the redencentralization of the web necessitates it to be modeled as a open dynamic multi-agent system,
            such a laboratory can support the current situation where a comparision of trust approaches for a decentralized web has to be done manually with a high effort.
            It thus implements a web-based wizard supporting the researcher at the aTLAS process of evaluating a scenario.
        </p>
        <a target="_blank" href="https://vsr.informatik.tu-chemnitz.de/projects/2020/atlas/">
            <i class="material-icons">description</i> aTLAS Project Page
        </a>
        <a target="_blank" href="https://github.com/ValentinSiegert/aTLAS">
            <i class="material-icons">source</i> aTLAS Code Repository
        </a>
    </div>
    <div class="mdl-dialog__actions">
        <button id="close-about-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect close">OK</button>
    </div>
</dialog>