<div class="component-start" id="c-start">
    <div class="mdl-grid mdl-grid--centered">
        <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp mdl-card--stretch" style="width: auto;">
                <div class="mdl-card__title mdl-card--border">
                    <h2 class="mdl-card__title-text">Trust Laboratory</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>
                        This is the access point for a Trust laboratory of Multi-Agent Systems, called aTLAS.<br>
                        <!--Its focus lies on open dynamic Multi-Agent Systems, but you can also use it for other scenarios.-->
                    </p>
                    <p>
                        A wizard will guide you through the process if you click on <i>Specify Scenario</i>.<br>
                        By clicking on <i>Review Results</i> you can review results from finished scenario runs.
                    </p>
                    <div class="mdl-card__actions mdl-card--border">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="btn-specify-scenario">Specify Scenario</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect neighbour-button" id="btn-pick-results">Review Results</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>